@use '/styles/mixings' as *;
@use '/styles/variables' as *;
@use '/styles/animations' as *;
@use '/styles/general.module.scss' as *;

.section {
    width: 100%;
    padding-bottom: 60px;

    @include breakpoints(desktop) {
        width: 60%;
        padding-bottom: 90px;
    }



    &_title {
        font-size: 4vh;
        margin-bottom: 48px;
        font-weight: 700;

        @include breakpoints(desktop) {
            font-size: 6vh;
        }
    }

    &_subtitle {
        font-size: 2vh;
        font-weight: 400;
        margin-bottom: 8px;

        @include breakpoints(desktop) {
            font-size: 2.5vh;
        }
    }

    &_wrapper {
        width: 100%;

        @include breakpoints(desktop) {
            width: 50%;
        }

        &__text {
            font-size: 16px;
            margin-bottom: 24px;
            line-height: 35px;

            @include breakpoints(desktop) {
                font-size: 20px;
            }

            a {
                font-weight: 700;
            }
        }

    }

    &_button {
        text-decoration: none;
        font-size: 16px;
        padding: 1rem 2rem;
        background-color: white;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        border: 0;
        cursor: pointer;

        &:hover {
            &::after {
                content: '';
                width: 10px;
                height: 100%;
                background-color: black;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .errorText {
        font-size: 12px;
        color: red;
    }
}