@use '/styles/mixings' as *;
@use '/styles/variables' as *;
@use '/styles/animations' as *;
@use '/styles/general.module.scss' as *;

.section {
    width: 100%;
    @include breakpoints(tablet) {
        max-width: 90%;
    }
    @include breakpoints(desktop) {
        max-width: 50%;
    }
    @include breakpoints(largescreens) {
        max-width: 60%;
    }
    &_title {
        font-size: 9vh;
        margin-bottom: 48px;
        opacity: 0;
        animation-name: appear;
        animation-duration: 1.4s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
        &__span {
            opacity: 0;
            animation-name: appear;
            animation-duration: 1.4s;
            animation-delay: 0.4s;
            animation-fill-mode: forwards;
        }
        @include breakpoints(tablet) {
            font-size: 10vh;
        } 
        @include breakpoints(desktop) {
            font-size: 15vh;
        }  
        @include breakpoints(largescreens) {
            font-size: 20vh;
        }
    }
    &_textWrapper{
        opacity: 0;
        animation-name: appear;
        animation-duration: 1.4s;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
        padding-bottom: 1rem;
        p{
            margin-bottom:24px;
            font-size: 14px; 
             @include breakpoints(desktop) {
                font-size: 18px;
              }  
              @include breakpoints(largescreens) {
                font-size: 18px;
              }
        }
    }
}

.backgroundImage {
    position: absolute;
    bottom:-15%;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    opacity: 0;
    animation-name: appear;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    filter: grayscale(80%);
    @include breakpoints(desktop) {
      right: 0;
      left: initial;
      margin:0;
      width: 100vh;
    }  
    @include breakpoints(largescreens) {
      right:0;
      left: initial;
      margin:0;
      width: 100vh;
    }
}