@use '/styles/mixings' as *;
@use '/styles/variables' as *;

.container {
  padding: 1rem 1rem;

  @include breakpoints(tablet) {
    padding: 1rem 1.5rem;
  }

  @include breakpoints(desktop) {
    padding: 1.5rem 3rem;
  }

  @include breakpoints(largescreens) {
    padding: 3rem 3rem;
  }
}

.effectZoom {
  transition: transform .2s;

  &:hover {
    transform: scale(1.030);
  }
}