@use '/styles/mixings' as *;
@use '/styles/variables' as *;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  font-family: 'Miedinger', sans-serif;
  margin: 0;
  padding: 0;

  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

html,
body {
  color: $primary-black;
  font-weight: 500;
  background-color: $primary-gray;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: $primary-black;
}