@use '/styles/mixings' as *;
@use '/styles/variables' as *;
@use '/styles/animations' as *;
@use '/styles/general.module.scss' as *;

.titleWrapper p {
  border-right: .15em solid $beige;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}
.titleWrapper p:nth-child(1) {
  width: 2.8em;
  font-size: 12vh;
  font-weight: 600;
  -webkit-animation: type 0.9s steps(30, end);
  animation: type 0.9s steps(30, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  @include breakpoints(desktop) {
      font-size: 25vh;
  }  
  @include breakpoints(largescreens) {
    font-size: 25vh;
  }
}

.titleWrapper p:nth-child(2) {
  width: 5.2em;
  font-size: 6vh;
  opacity: 0;
  -webkit-animation: type2 0.9s steps(40, end);
  animation: type2 0.9s steps(40, end);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  @include breakpoints(desktop) {
    font-size: 10vh;
  }  
  @include breakpoints(largescreens) {
    font-size: 10vh;
  }
}

.titleWrapper p:nth-child(3) {
  width: 17em;
  font-size: 2vh;
  opacity: 0;
  -webkit-animation: type3 0.9s steps(40, end), blink .5s step-end infinite alternate;
  animation: type3 0.9s steps(40, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  @include breakpoints(desktop) {
    font-size: 3vh;
  }  
  @include breakpoints(largescreens) {
    font-size: 3vh;
  }
}




.backgroundImage {
  position: absolute;
  bottom:-15%;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right: auto;
  width: 30vh;
  height: 100%;
  opacity: 0;
  animation-name: appear;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  @include breakpoints(desktop) {
    top:0;
    right: 15%;
    left: initial;
    margin:0;
    width: 50vh;
  }  
  @include breakpoints(largescreens) {
    top:0;
    right: 15%;
    left: initial;
    margin:0;
    width: 50vh;
  }
}