@use '/styles/mixings' as *;
@use '/styles/variables' as *;
@use '/styles/animations' as *;
@use '/styles/general.module.scss' as *;

.homeSection {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1a1a1a;
  color:$primary-gray;
  .bold {
    font-weight: 700;
  }
  .whiteHrefBtn {
    text-decoration: none;
    font-size: 16px;
    padding: 1rem 2rem;
    background-color: #1a1a1a;
    color:$primary-gray;
    border: 1px solid $primary-gray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @include breakpoints(desktop) {
      justify-content: space-between;
      flex-direction: row;
    }
  }
  .leftBox {
    width: 100%;
  }
  .rightBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .title {
      font-size:38px;
      line-height: .95;
      font-weight: 400;
      max-width: 12em;
      @include breakpoints(desktop) {
        max-width: 12em;
      }
    }
    .text {
      font-size: 1em;
      margin-bottom: 2rem;
      @include breakpoints(desktop) {
        max-width: 25em;
      }
    }
    .timeWrapper {
      display: flex;
      flex-direction: column;
      font-size: 2em;
      margin: 8px 0;
    }
  }
  .footerNav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
    a {
      color:white;
      text-transform: uppercase;
    }
  }
}