@use "/styles/mixings" as *;
@use "/styles/variables" as *;
@use "/styles/animations" as *;
@use "/styles/general.module.scss" as *;

.homeSection {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color:$primary-black;
  color: $primary-gray;
  .bold {
    font-weight: 700;
  }
  .whiteHrefBtn {
    text-decoration: none;
    font-size: 12px;
    padding: 1rem 2rem;
    background-color: $primary-black;
    color: $primary-gray;
    border: 1px solid $primary-gray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include breakpoints(desktop) {
      font-size: 16px;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @include breakpoints(desktop) {
      justify-content: space-between;
      flex-direction: row;
    }
  }
  .leftBox {
    width: 100%;
  }
  .rightBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .title {
      font-size: 26px;
      line-height: 0.95;
      font-weight: 400;
      max-width: 12em;
      @include breakpoints(desktop) {
        max-width: 12em;
        font-size: 38px;
      }
    }
    .text {
      font-size: 1em;
      margin-bottom: 2rem;
      @include breakpoints(desktop) {
        max-width: 25em;
      }
    }
    .timeWrapper {
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
      margin: 8px 0;
      @include breakpoints(desktop) {
        font-size: 2em;
      }
    }
  }
  .footerNav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    a {
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      @include breakpoints(desktop) {
        font-size: 16px;
      }
    }
  }
}
