@use '/styles/mixings' as *;
@use '/styles/variables' as *;
@use '/styles/animations' as *;
@use '/styles/general.module.scss' as *;

.section {
    width: 100%;
    position: relative;
    height: 100%;
    margin-bottom: 60px;

    @include breakpoints(desktop) {
        height: 100vh;
        margin-bottom: 90px;
    }


    &_title {
        font-size: 4vh;
        margin-bottom: 48px;
        font-weight: 700;

        @include breakpoints(desktop) {
            font-size: 6vh;
        }
    }

    &_subtitle {
        font-size: 2vh;
        font-weight: 400;
        margin-bottom: 8px;

        @include breakpoints(desktop) {
            font-size: 2.5vh;
        }
    }


    &_textWrapper {
        padding-bottom: 1rem;
        width: 100%;

        @include breakpoints(desktop) {
            width: 60%;
        }

        p {
            margin-bottom: 24px;
            font-size: 16px;
            word-break: break-word;

            @include breakpoints(desktop) {
                font-size: 20px;
            }

        }
    }
}

.backgroundImage {
    position: absolute;
    top: 0;
    right: 0;
    filter: grayscale(70%);
    width: 100%;
    height: auto;
    display: none;

    @include breakpoints(desktop) {
        display: block;
        width: 50%;
    }
}